.footer{
    background-color: lighten($colour-black,20%);
    padding: 0 $layout-padding-side 40px $layout-padding-side;
    flex: 1;
    // height: 195px;
    display: flex;
    flex-direction: column;
    *{
        color: $colour-white;
    }
    h4{
        font-weight: 100;
    }
    &__logo{
        padding: 23px 0;
        font-size: 1.5rem;
    };
    &__list{
        // border:red 2px solid;
        display: flex;
        flex-direction: column;
        gap:15px;
        flex:1;
        &__dot{
           display: flex;
           &__a{
            display:flex;
                &__i{
                    // border:1px yellow solid;
                    width:23px;
                    &.fa-handshake-angle{
                        rotate: -20deg;
                        // border:red 2px solid;
                        margin-left:-2.25px;
                        margin-right: 2.25px;
                        
                    }
                }
           }
        }
        
    }
}
