.header {
    background: $colour-white;
    height: 5.2rem;
    border:1px red solid;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0.88rem;
    @include box-shadow(lightness-shift($colour-darkgrey));
    z-index:1;
}