.menu{
    display:flex;
    // border: 2px green solid;
    &__card{
        // border:2px red solid;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 335px;
        &__img{
            width: 100%;
            height: 235px;
            position: relative;
            overflow: hidden;
            display: flex;
            border-radius: 30px 30px 0 0;
            // border:blue 3px solid;
            &.a{
                img{
                    width: 101%;
                    position: absolute;
                    top: -60px;
                }
            }
            &.b{
                img{
                    width: 100%;
                    position: absolute;
                    top: -190px;
                } 
            }
            &.c{
                img{
                    width:110%;
                    position: absolute;
                    top: -70px;                    
                }
            }
            &.d{
                img{
                    width: 105%;
                    position: absolute;
                    top: -70px;
                } 
            }  
        }
        &__capt{
            // border: purple 2px solid;
            display: flex;
            justify-content: space-between;
            background-color: $colour-white;
            padding-left: 16px;
            flex:1;
            align-items: center;
            border-radius: 0 0 30px 30px;
            color: lighten($color: $colour-black, $amount: 30%);
            filter: none;
            @include box-shadow($colour-white);
            strong{
                color: $colour-black;
            }
            i{
                font-size: 1.875rem;
                position: relative;
                padding-right: 35px;
                >i{
                    position: absolute;
                    top:0;
                    left:0;
                }
            }
        }
    }
}