*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    line-height: 1;
}

html {
    // 12px div by def of 16px (taille par defaut)
    font-size: 75%;
    // min-width: 375px;
}

body{
    box-sizing:border-box;
    //     background: $colour-secondary;
}

*{
    filter: blur(0.3px);//Effet flouté par défaut sur tous les objets
    // background-color: yellow; 
}

h2,h3{
    filter: blur(0.5px);
}