body {
    font-family: 'Roboto', sans-serif;
    color: $colour-black;  
    // line-height: 1.7;
    text-decoration: none;
}

.logo{
    font-family: 'Shrikhand', cursive;
    font-weight: 900;
}

strong{
    font-weight: 900;
}

a{
    text-decoration: none;
    color: $colour-black;
   
}

h2,h3{
    font-size: 1.875rem;
}

// h4,p{
//     font-size: 1.25rem;
// }

input,h4,p,{
    font-size:1.25rem;
}

*{
    filter: blur(0.35px); //Effet flouté par défaut sur tous les objets
}
    
ul{
    list-style-type: none;
}
// textarea {
//     font-family: 'Roboto', sans-serif;
//     font-weight: 100;
//     font-size: 2rem;
// }

// button {
//     font-family: 'Roboto', sans-serif;
//     font-weight: 900;
//     font-style: italic;
//     font-size: 2.75rem;
// }