body {
    font-family: 'Roboto', sans-serif;
    color: $colour-black;  
    text-decoration: none;
}

.shrikhand{
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
}

strong{
    font-weight: 900;
}

a{
    text-decoration: none;
    color: $colour-black;
   
}

h2,h3{
    font-size: 1.875rem;
}

input,h4{
    font-size:1.25rem;
}

p{
    font-size: 1.5rem;
    line-height: 125%;
}
    
ul{
    list-style-type: none;
}