.banniere{
    height: 257px;
    overflow: hidden;
    z-index: 1;
    display:flex;
    &__img{
        max-width: 100%;
        flex:1;
        object-fit: cover;
    }
}
.carte{
    background-color: $colour-lightgrey;
    display:flex;
    flex-direction: column;
    padding: 0 $layout-padding-side 80px $layout-padding-side;
    border-radius: 30px 30px 0 0;
    margin-top:-$menu-rubrique-spacer;
    z-index: 1;
    &__title{
        display: flex;
        justify-content:space-between;
        padding:$menu-rubrique-spacer 0;
        font-size: 2.5rem;
        // border: red 2px solid;
        
        span{
            text-transform:capitalize;
        }
        div{
            // border: 2px orange solid;
            position: relative;
            padding-right: 18px;
            display:flex;
        }
    }
}
.entrees,.plats,.desserts{
    display: flex;
    flex-direction: column;
    gap:$menu-plat-spacer;
    margin-bottom: $menu-rubrique-spacer;
    // border: green 2px solid;
    &__title{
        padding-bottom: $menu-underline-spacer-top;
        color:lighten($colour-black, $amount: 20%);
        font-weight: 100;
        text-transform: uppercase;
        font-size: 1.3rem;
    }
    &__line{
        width: 40px;
        border:2px solid $colour-lightgreen;
    }
    &__detail{
        // border: 1px solid orange;
        background-color: $colour-white;
        border-radius: 15px;
        @include box-shadow($colour-white);
        display: flex;
        // justify-content: space-between;
        margin-left: -9px;
        margin-right: -9px;
        position:relative;
        z-index: 0;
        cursor: url(../../public/img/cursor/hand-pointer-regular.png), pointer;
        overflow: hidden;
        // opacity:1;
        
        &__txt{
            // border:3px solid red;
            font-size: 1.3rem;
            padding:10px;
            padding-right: 55px;
            text-overflow: ellipsis;//affiche les 3 points de suspension
            white-space: nowrap;//empeche le passage à la ligne
            overflow:hidden;//masque le texte en dépassement
            z-index:2;
            strong{
                font-size: 1.4rem;
            }
            width:100%;
        }
        
        &__cost{
            // border: 2px solid green;
            margin-left:-52px;
            z-index: 1;
            // border: 1px black solid;
            padding-right: 20px;
            padding-bottom: 10px;
            font-weight: 900;
            display:flex;
            align-items: flex-end;
            &::after{
                content: "€";
                // border:1px black solid;
                padding-bottom: 1px;
            }
        }
        &__font{
            border-radius: 0 14px 14px 0;
            background-color: $colour-lightgreen;
            width:0px;
            // border: 1px solid black;
            overflow:hidden;
            z-index:0;
            transition:all 1s ease-in-out;//all : right + transform
        } 
        &__i{
            display:block;
            position:absolute;
            bottom:19px;
            right:-40px;
            z-index:0;
            transition:all 1s ease-in-out;
            font-size: 1.7rem;
            color: $colour-white;
        }
    }
}
//animation: apparition des plats à l'ouverture de la page
.entrees{
    &__detail{
        @for $i from 2 through 4 {
            &:nth-child(#{$i}){
                animation: AppearTranslate 1s ease;
                animation-delay: #{$i*50}ms;
                
            }
        }
    }
}
.plats{
    &__detail{
        @for $i from 2 through 4 {
            &:nth-child(#{$i}){
                animation: AppearTranslate 1s ease;
                animation-delay: #{$i*50+400}ms;
            }
        }
    }
}
.desserts{
    &__detail{
        @for $i from 2 through 4 {
            &:nth-child(#{$i}){
                animation: AppearTranslate 1s ease;
                animation-delay: #{$i*50+ 800}ms;
            }
        }
    }
}

@keyframes AppearTranslate{
    0%{
        opacity:1;
        transform: translateY(10px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}
//animation: lors du survol des plats
.entrees__detail{
    &__txt:hover ~ .entrees{
        @include rotate;
        @include font;
    }
}
.plats__detail{
    &__txt:hover ~ .plats{
        @include rotate;
        @include font;
    }
}
.desserts__detail{
    &__txt:hover ~ .desserts{
        @include rotate;
        @include font;
    }
}