.banniere{
    height: 257px;
    overflow: hidden;
    z-index: 1;
    display:flex;
    &__img{
        max-width: 100%;
        flex:1;
        object-fit: cover;
    }
}
.carte{
    background-color: $colour-lightgrey;
    display:flex;
    flex-direction: column;
    padding: 0 $layout-padding-side;
    border-radius: 15px;
    margin-top:-33px;
    z-index: 1;
    &__title{
        padding:33px 0;
        // border: red 2px solid;
        span{
            text-transform:capitalize;
        }
    }
}
.entrees{
    display: flex;
    flex-direction: column;
    // border: green 2px solid;
    &__title{
        padding-bottom: $menu-underline-spacer-top;
        
    }
    &__line{
        margin-bottom: $menu-underline-spacer-bottom;
        width: 40px;
        border:2px solid $colour-lightgreen
    }
    &__detail{
        @include box-shadow($colour-white);
    }
}