$colour-primary: #9356DC; //violet
$colour-secondary: #FF79DA; //rose
$colour-tertiary: #99E2D0; //vert d'eau
$colour-white: #fff;
$colour-black: black;
$colour-lightgrey: #f6f6f6;
$colour-darkgrey: #eaeaea;
$colour-darkgreen: #008766;
$colour-lightgreen: #99e2d0;
$colour-button: linear-gradient(to bottom right, $colour-secondary, $colour-primary);

$box-shadow-size: 6px;

$layout-padding-side: 19px;
$layout-padding-top: 53px;
$layout-padding-bottom: 68px;
$layout-spacer: 19px;
$layout-object-spacer: 23px;

$menu-underline-spacer-top: 10px;
$menu-rubrique-spacer: 33px;
$menu-plat-spacer: 12px;

$breakpoint-desktop: 972px;
$breakpoint-tablette: 568px;
$breakpoint-arrow: 250px;