$colour-primary: #9356DC; //violet
$colour-secondary: #FF79DA; //rose
$colour-tertiary: #99E2D0; //vert d'eau
$colour-white: #fff;
$colour-black: black;
$colour-lightgrey: #f6f6f6;
$colour-darkgrey:#eaeaea;


$container-shadow-size: .19rem;
// $layout-margin: 6rem;
// // $grid-gutter: $layout-margin * .25;