$colour-primary: #9356DC; //violet
$colour-secondary: #FF79DA; //rose
$colour-tertiary: #99E2D0; //vert d'eau
$colour-white: #fff;
$colour-black: black;
$colour-lightgrey: #f6f6f6;
$colour-darkgrey:#eaeaea;


$box-shadow-size: 5px;
// $text-shadow-size: 0.25rem;

$layout-padding-side: 25px;
$layout-spacer: 30px;